.hero-section{
  background: url('	https://www.rentomojo.com/mojo-mover/images/banner-desktop.webp') center/cover no-repeat;
  min-height: 100vh;
  position: relative;
}
.hero-overlay{
  background: rgba(0,0,0,0.55);
  min-height: 100vh;
}
.mojo-badge{
  background:#e53935;
  color:#fff;
  padding:10px 16px;
  border-radius:8px;
  display:inline-flex;
  align-items:center;
  gap:8px;
  font-weight:600;
}
.hero-text h1{
  font-size:3rem;
  font-weight:700;
}
.quote-card{
  background:#fff;
  border-radius:12px;
  padding:24px;
}
.form-control{
  height:40px;
  width: 35px;
}
.get-quote-btn{
  background:#e53935;
  color:#fff;
  border:none;
  height:52px;
  font-size:18px;
  font-weight:600;
}
.get-quote-btn:hover{
  background:#d32f2f;
}
@media(max-width:768px){
  .hero-text h1{
    font-size:2.2rem;
  }
}


/* 2 css */

.why-section{
  background: linear-gradient(90deg,#f6bfd4 0%,#c9c3e8 50%,#a9c8ef 100%);
  padding: 10px 0;
  border-radius: 30px;
}

.why-card{
  background: rgba(255,255,255,0.35);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  padding: 26px 22px;
  height: 100%;
}

.why-icon{
  font-size: 34px;
  margin-bottom: 14px;
}

.why-card h5{
  font-weight: 700;
  margin-bottom: 10px;
}

.why-card p{
  font-size: 15px;
  color: #555;
}
/* 3 sectiom */

.how-it-works{
  padding: 60px 0;
}

.work-card{
  background: #fff;
  border: 1px solid #eee;
  border-radius: 16px;
  padding: 28px 24px;
  height: 100%;
  position: relative;
}

.step-no{
  font-size: 48px;
  font-weight: 800;
  color: #fff;
  -webkit-text-stroke: 2px #ff4d4d;
  display: block;
  margin-bottom: 10px;
}

.work-card h5{
  font-weight: 700;
  margin-bottom: 8px;
}

.work-card p{
  font-size: 15px;
  color: #666;
}

/* 4 section */

.choose-services{
  padding: 60px 0;
}

.mojo-banner{
  position: relative;
}

.mojo-title{
  font-size: 72px;
  font-weight: 900;
  color: #e53935;
  letter-spacing: 4px;
}

.service-card{
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
}

.service-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-overlay{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
  color: #fff;
}

.service-overlay h5{
  font-weight: 700;
  margin-bottom: 5px;
}

.service-overlay p{
  font-size: 14px;
  margin: 0;
}

@media(max-width:768px){
  .mojo-title{
    font-size: 42px;
  }
}
/* 5 section */
.faq-section{
  padding: 60px 0;
}

.faq-item{
  border: 1px solid #eee;
  border-radius: 14px;
  margin-bottom: 16px;
  overflow: hidden;
}

.accordion-button{
  font-weight: 600;
  padding: 18px 20px;
  background: #fff;
}

.accordion-button:not(.collapsed){
  background: #fff;
  color: #000;
  box-shadow: none;
}

.accordion-button:focus{
  box-shadow: none;
}

.accordion-body{
  color: #666;
  font-size: 15px;
  padding: 0 20px 18px;
}