body{
    background:#fff;
}


.section-title {
    text-align: center;
    margin: 50px 0 40px;
    position: relative;
}

.section-title::after {
    content: '';
    width: 50px;
    height: 3px;
    background: red;
    display: block;
    margin: 10px auto 0;
}


/* NORMAL CARD */
.room-card{
    position:relative;
    margin-bottom: 30px;
}
.room-card img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:4px;
}
.card-label{
    position:absolute;
    bottom:-20px;
    left:50%;
    transform:translateX(-50%);
    background:#fff;
    padding:12px 24px;
    box-shadow:0 6px 18px rgba(0,0,0,.15);
    border-radius:6px;
    text-align:center;
    min-width:200px;
}

/* VIEW ALL CARD */
.view-all-card{
    height:260px;
    border:1px solid #eef2f5;
    display:flex;
    align-items:center;
    justify-content:center;
}
.view-all-btn{
    text-decoration:none;
    color:#1bb7c9;
    text-align:center;
}
.arrow-circle{
    width:50px;
    height:50px;
    border:2px solid #1bb7c9;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:26px;
    margin:auto;
    margin-bottom:10px;
}