.search-box {
  background: #f5f7fb;
  border-radius: 12px;
  padding: 6px 10px;
}

.search-box input {
  box-shadow: none;
  font-size: 15px;
}

.navbar-nav .nav-link {
  font-size: 15px;
}

.btn-danger {
  border-radius: 12px;
}
.btn-danger:hover{
  background-color: #fff !important;
  color: #dc3545;      
  border-color: #dc3545;
}


/* slider */

.carousel-wrapper{
  max-width: 1320px;  
  margin: auto;
}

#carouselExampleIndicators{
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/* feature */

.category-card{
  border: 1px solid #e2e8f0;
  border-radius: 14px;
  padding: 30px 15px;
  background: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.category-card svg{
  height: 50px;
  width: 40px;
  margin-bottom: 12px;
}

.category-card p{
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

.category-card:hover{
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transform: translateY(-4px);
}


/* product  */

.product-carousel .card{
  border:1px solid #e5eaf0;
}

.custom-nav button{
  width:42px;
  height:42px;
  border-radius:50%;
  border:1px solid #ccc;
  background:#fff;
  cursor:pointer;
  margin-left:8px;
}

.custom-nav button:hover{
  background:#f8f9fa;
}

/* testimonial
 */
 .testimonial-carousel .card{
  border:1px solid #e5eaf0;
}

.custom-nav button{
  width:42px;
  height:42px;
  border-radius:50%;
  border:1px solid #ccc;
  background:#fff;
  margin-left:8px;
  cursor:pointer;
}

.custom-nav button:hover{
  background:#f8f9fa;
}


.testimonial-img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
  display: block !important;
  overflow: hidden !important;
  background: none !important;
}





/* footer */

.footer-links li{
  margin-bottom: 10px;
}

.footer-links a{
  color:#6c757d;
  font-size:14px;
  text-decoration:none;
}

.footer-links a:hover{
  color:#000;
}

.social-icons a{
  width:36px;
  height:36px;
  border:1px solid #ccc;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#6c757d;
  text-decoration:none;
}

.social-icons a:hover{
  background:#000;
  color:#fff;
}
