a{
    text-decoration: none;
    color: inherit;
}





.search-box {
  background: #f5f7fb;
  border-radius: 12px;
  padding: 2px 2px;
}

.search-box input {
  box-shadow: none;
  font-size: 15px;
}

.search-box .form-control:focus {
  box-shadow: none !important;
  outline: none;
    
}


.search-box:focus-within {
  box-shadow: none;
}


.navbar-nav .nav-link {
  font-size: 15px;
}

.btn-danger {
  border-radius: 12px;
}
.btn-danger:hover{
  background-color: #fff !important;
  color: #dc3545;      
  border-color: #dc3545;
}


/* slider */

.carousel-wrapper{
  max-width: 1320px;  
  margin: auto;
}

#carouselExampleIndicators{
  border-radius: 20px;
  overflow: hidden;
  
}

#carouselExampleIndicators {
  position: relative;
  
}


#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

 
}


#carouselExampleIndicators .carousel-control-prev {
  left: -88px;   
}

#carouselExampleIndicators .carousel-control-next {
  right: -88px;  
}








/* feature */

.category-card{
  border: 1px solid #e2e8f0;
  border-radius: 14px;
  padding: 30px 15px;
  background: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.category-card svg{
  height: 50px;
  width: 40px;
  margin-bottom: 12px;
}

.category-card p{
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

.category-card:hover{
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transform: translateY(-4px);
}




.product-carousel .card{
  border:1px solid #e5eaf0;
}

.custom-nav button{
  width:42px;
  height:42px;
  border-radius:50%;
  border:1px solid #ccc;
  background:#fff;
  cursor:pointer;
  margin-left:8px;
}

.custom-nav button:hover{
  background:#f8f9fa;
}

/* testimonial
 */
 .testimonial-carousel .card{
  border:1px solid #e5eaf0;
}

.custom-nav button{
  width:42px;
  height:42px;
  border-radius:50%;
  border:1px solid #ccc;
  background:#fff;
  margin-left:8px;
  cursor:pointer;
}

.custom-nav button:hover{
  background:#f8f9fa;
}


.testimonial-img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
  display: block !important;
  overflow: hidden !important;
  background: none !important;
}





/* footer */

.footer-links li{
  margin-bottom: 10px;
}

.footer-links a{
  color:#6c757d;
  font-size:14px;
  text-decoration:none;
}

.footer-links a:hover{
  color:#000;
}

.social-icons a{
  width:36px;
  height:36px;
  border:1px solid #ccc;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#6c757d;
  text-decoration:none;
}

.social-icons a:hover{
  background:#000;
  color:#fff;
}


/* city */

.city-wrapper {
  width: 900px;              /* dropdown width */
  height: 70vh;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
}

.city-box {
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: 0.3s;
  box-sizing: border-box;
  min-height: 120px;
}

.city-box:hover {
  border: 2px solid #ff3b3b;
}

.city-icon {
  width: 60px;
  height: 60px;
  border: 2px solid #ff3b3b;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.city-icon img {
  width: 80%;
}

.city-box p {
  margin-top: 6px;
  font-size: 14px;
  color: #666;
}

.new {
  display: block;
  font-size: 12px;
  color: red;
}

.col-custom {
  width: 12.5%;
}

/* ---------- Dropdown Fix ---------- */
.dropdown-menu {
  padding: 0;
  border: none;
}

.dropdown-menu.show {
  display: block;
}
